* { margin: 0; padding: 0; }

body
{
  text-align: center;
}

h1
{
  margin: 10px;
  margin-top: 40px;
}

hr
{
  border: 0px solid black;
  background: black;
  color: black;
  height: 1px;
}

div.subtitle
{
  max-width: 680px;
  margin: 0 auto;
  margin-top: 10px;
}

div.steps
{
  margin-top: 70px;
  margin-bottom: 40px;
}

div.step
{
  width: 300px;
  display: inline-table;
  margin: 20px 0;
}

div.step-content
{
  margin: 10px;
}

img.arrow
{
  margin-top: 45px;
  margin-bottom: 10px;
}

div.pad
{
  margin-top: 10px;
}

div.helper
{
  display: inline-block;
  vertical-align: center;
  height: 200px;
}

img.center
{
  display: inline-block;
  vertical-align: center;
  margin: 10px;
}

div.sss
{
  margin: 10px;
}

div.footer
{
  margin: 10px;
  color: #888;
  font-size: 12pt;
}

div.top
{
  width: 100%;
  position:absolute; 
  top:25%; 
  left:0; 
  margin:-80px auto auto 0;  
  text-align: center;
}

div#qrcode img
{ 
  position:absolute; 
  top:50%; 
  left:50%; 
  margin:-128px auto auto -128px;  
  text-align: center;
}

div.bottom
{
  width: 100%;
  position:absolute; 
  top:75%; 
  left:0; 
  margin:48px auto auto 0;  
  text-align: center;
}